/* Home page */


/* test */


.scroll-down {
	position: sticky;
	left: 95%;
	bottom: 50px;
	display: block;
	text-align: center;
	font-size: 20px;
	z-index: 100;
	text-decoration: none;
	text-shadow: 0;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  z-index: 9;

  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
	-webkit-animation: fade_move_down 4s ease-in-out infinite;
	-moz-animation:    fade_move_down 4s ease-in-out infinite;
	animation:         fade_move_down 4s ease-in-out infinite;
}
@-webkit-keyframes fade_move_down {
    0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
  }
  @-moz-keyframes fade_move_down {
    0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
  }
  @keyframes fade_move_down {
    0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
  }
  

/*animated scroll arrow animation*/


/*end of test*/

.container {
    background-color: #334856;
    font-family: 'Source Sans Pro', sans-serif;
}

.header {
    margin: 0 auto;

}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    padding: 50px 0 50px 0;

}

.text {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 30%;
    box-shadow: #334856;
}

.test_div {
    background-color: #547286;
    border-radius: 1px;
    height: 100px;
    margin: 0 auto;
    border-radius: 2px;
    color: white;

}

.test_div2 {
    background-color: #547286;
    height: 75px;
    margin: 0 auto;
    color: white;

    padding: 20px 0 0 10px;
}


.hello {
    font-size: 28px;
    padding-bottom: 15px;
}


.mark {
    height: 250px;
    width: 300px;
    margin: 50px auto;
    background: #D3EBFF;
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.maths_text {
    margin: 25px auto;
}


.calcul_book {
    height: 160px;
}


.button {

    border-radius: 50px;
    background-color: #74A6D0;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 100px auto;
    display: block;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button a {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;

}

.button a:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover a {
    padding-right: 25px;
}

.button:hover a:after {
    opacity: 1;
    right: 0;
}

a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}



/*Index*/

.container__title {
    margin: 0 auto;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 24px;
    padding-bottom: 10px;
    border-bottom: 3px solid #79C2FF;
    width: 19%;
    letter-spacing: 3px;
}


.container__form {
    margin: 0 auto;
    width: 40%;
}

.container__question {
    color: white;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 20px;

}


/* doesn't work 
.container__title {
    border: none;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
} 

.checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}
*/
.bg {
    height: 50px;
    background-color: #334856;
}

.link-button {
    width: 400px;

}